# For details on formatting rules, refer https://github.com/nicklockwood/SwiftFormat/blob/main/Rules.md
--commas inline
--disable \
    wrapMultilineStatementBraces, \
    redundantSelf, \
    trailingCommas, \
    braces
